catboost==1.1.1
imageio==2.27.0
jupyter==1.0.0
jupyterlab==3.6.2
lightgbm==3.3.5
matplotlib==3.7.1
missingno==0.5.2
nltk==3.8.1
numpy==1.24.2
openpyxl==3.1.2
pandas==1.5.3
pandas-profiling==3.6.6
Pillow==9.4.0
plotly==5.13.1
scikit-learn==1.2.2
scipy==1.10.1
torch==2.0.0
torchvision==0.15.1
umap-learn==0.5.3
xgboost==1.7.4
xlrd==2.0.1
